.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}


/* Add any additional styles for the landing component here */
.mobile{
    display: none;
}
.desktop{
    display: block;
}