<div class="main relative w-screen">
    <div class="top bg-amber-50 w-screen h-150 flex sm:h-200">
        <div class="left bg-amber-300   flex justify-center items-center w-full sm:w-1/2">
            <h1 class="text-5xl font-bold underline">Hello Tailwind with Angular!</h1>
        </div>
      
<!-- this block creates a scroll -->
        <div class="right bg-fuchsia-600  sm:w-1/2  flex justify-center items-center hidden md:block ">
             <h1 class="text-5xl font-bold underline">Open to work</h1>
        </div>

    </div>

    


    <div class="botton bg-lime-600 w-3/4 h-20 flex justify-center items-center absolute inset-x-0 bottom-0 left-1/2 transform -translate-x-1/2 translate-y-1/2">

        <div class="linkedIn bg-blue-600 w-1/3 h-full"> LinkedIN</div>
        <div class="Github bg-blue-950 w-1/3 h-full "> Github</div>
        <div class="Email bg-red-500 w-1/3 h-full"> Email</div>

    </div>
</div>
